@use "sass:map";
@use "sass:math";

// Bootstrap default variable overrides
@import "bootstrap-variables";

// Bootstrap
@import "../../../../../../ckan/ckan/public/base/scss/bootstrap";

// Variables
@import "variables";

// CKAN Core CSS
@import "ckan";

// depositar Overrides

// dataset.scss

@import "dataset";

// masthead.scss

@import "masthead";

// Other Overrides

@import "others";

// footer.scss

.site-footer {
  background-color: color-contrast($mastheadBackgroundColor);

  a:hover {
    color: $mainThemeColor;
  }

  .footer-links .footer-contacts a:not(:last-child) {
    padding-right: 0.25rem !important;
  }
}

.footer-logo {
  background: url("/images/logo_eng_horizontal_w.svg") no-repeat scroll;
  height: 50px;
  width: 30%;
  padding-bottom: 10px;
}

@include media-breakpoint-down(sm) {
  .footer-logo {
    width: 50%;
  }
}

// forms.scss

.simple-input .field .btn-search {
  margin-top: -16px;
  height: 30px;
  width: 15px;
}

.resource-upload-field {
  .btn-remove-url {
    margin-top: 18px
  }
}

// layout.scss

.main {
  padding-top: 0;
  background: $mastheadBackgroundColor;
}

.wrapper {
  border: none;
  box-shadow: none;
}

.flash-messages {
  .alert {
    margin-bottom: 0;
  }
}

// media.scss

.media-grid {
  border: none;
}

.media-view {
  border-color: $genericBorderColor;
}

// mixins.scss

a.tag:hover {
  color: #000;
  box-shadow: none;
  transition: 0.2s;
}

// module.scss

@mixin link-decoration(){
  border-bottom: 2px solid $mainThemeColor;
}

.module-heading {
  border-top: none;
}

.alert > a:not(.close) {
  @include link-decoration;
}

.module {
  p,
  small,
  td,
  ol > li,
  ul:not(.nav, .dropdown-menu, .select2-choices) > li,
  div.dataset-content > div {
    & > a:not(.badge, .btn, .select2-choice, .label, .media-view, .highlight, .tag) {
      @include link-decoration;
    }
  }
}

.module-narrow {
  .module-heading {
    @include media-breakpoint-down(sm) {
      .action {
        padding-right: 10px;
      }
    }
  }
}

// search.scss

.search-form {
  padding-bottom: 0;
  border-bottom: none;
}

// toolbar.scss

.toolbar {
  background-color: map.get($colors,"gray-dark");
  padding: 10px 0;
  margin-bottom: 0;
}
