{#- master snippet for all scheming form fields -#}
{#- render the field the user requested, or use a default field -#}
{#- override the template file from the ckanext-scheming 1.2.0 -#}

{%- set form_snippet = field.form_snippet -%}

{%- if not form_snippet -%}
  {%- set form_snippet = 'text.html' -%}
{%- endif -%}

{%- if '/' not in form_snippet -%}
  {%- set form_snippet = 'scheming/form_snippets/' + form_snippet -%}
{%- endif -%}

{%- snippet form_snippet, field=field, data=data, errors=errors,
  licenses=licenses, entity_type=entity_type, object_type=object_type -%}

<div data-module="field-extra"
     data-name="{{ field.field_name }}"
     {% if field.icon %} data-icon="{{ field.icon }}"{% endif %}
     {% if field.label_name %} data-label-name="{{ field.label_name }}"{% endif %}
     {% if field.multiple %} data-multiple="{{ field.multiple }}"{% endif %}>
</div>

{% asset 'depositar_theme/field-extra-js' %}
