<section class="module module-narrow module-shallow binder">
  <h2 class="module-heading">
    <i class="fa fa-rocket"></i>
    {% block binder_title %}
      Binder
      <span class="label label-inverse">Beta</span>
    {% endblock %}
  </h2>
  <div class="module-content">
    <a href="https://binder.depositar.io/v2/ckan/{{ h.url_for('dataset.read', id=c.pkg_dict['name'], _external=True) }}" target="_blank"><img alt="Launch on Binder" src="https://binder.depositar.io/badge_logo.svg"></a>
  </div>
</section>
