{% set doc_url = h.get_doc_url() %}

<section class="module module-narrow module-shallow binder">
  <h2 class="module-heading">
    <i class="fa fa-rocket"></i>
    {% block binder_title %}
      Binder
      <span class="label label-inverse">Beta</span>
      <span class="pull-right">
        <a href="{{ doc_url }}user-guide/binder.html" target="_blank"><i class="fa fa-question-circle"></i></a>
      </span>
    {% endblock %}
  </h2>
  <div class="module-content">
    <a href="https://binder.depositar.io/v2/ckan/{{ g.site_url }}{{ h.current_url() }}" target="_blank"><img alt="Launch on Binder" src="https://binder.depositar.io/badge_logo.svg"></a>
  </div>
</section>
