{% ckan_extends %}

{% block basic_fields %}
  {% set doc_url = h.get_doc_url() %}
  <div class="alert alert-info">
    {% trans %}Please refer to the <a href="{{ doc_url }}user-guide/features-for-publishers.html#adding-a-new-dataset" target="_blank">guide</a>, the <a href="{{ doc_url }}appendix/fields/index.html#resource-fields" target="_blank">metadata schema</a>, and the <a href="{{ doc_url }}user-guide/limitation.html" target="_blank">limitation</a> while filling the form.{% endtrans %}
    <p>{{ _("Maximum size for each file uploaded to depositar: 1 GB.") }}</p>
  </div>
  {{ super() }}
{% endblock %}

{% block metadata_fields %}
  <div class="alert alert-info">
    {% set doc_url = h.get_doc_url() %}
    {%- trans -%}
    A <a href="{{ doc_url }}user-guide/datapackage.html" target="_blank">Data Package</a> will be generated automatically for this dataset if the total size of the uploaded resources is ≤ 50 MB. <a href="{{ doc_url }}user-guide/datapackage.html#automatic-data-package-generation" target="_blank">More details</a>.
    {%- endtrans -%}
  </div>
{% endblock %}
