{% ckan_extends %}

{% macro language_selector() %}
  {% set current_lang = request.environ.CKAN_LANG %}
  {% if current_lang != "en" %}
    <li>
      <a href="{% url_for h.current_url(), locale='en' %}">English</a>
    </li>
  {% endif %}
  {% if current_lang != "zh_Hant_TW" %}
    <li>
      <a href="{% url_for h.current_url(), locale='zh_Hant_TW' %}">中文</a>
    </li>
  {% endif %}
{% endmacro %}

{% block header_account %}
  {% if h.is_demo() %}
    <div class="flash-messages">
      <div class="alert alert-dismissible fade in alert-warning show">
        {%- trans -%}
        This is the demo site for <a href="http://data.depositar.io/" target="_blank">depositar</a>. You can create a new account and try any functions provided by the depositar. Please note that all data in this site will be deleted occasionally.
        {%- endtrans -%}
      </div>
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}

{% block header_account_logged %}
  {{ super() }}
  {{ language_selector() }}
{% endblock %}

{% block header_account_notlogged %}
  {{ super() }}
  {{ language_selector() }}
{% endblock %}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
    ('dataset.search', _('Datasets')),
    ('group.index', _('Topics')),
    ('organization.index', _('Projects')),
    ('home.about', _('About')),
    ('help.index', _('Help'))
  ) }}
{% endblock %}

{% block header_site_search %}
  <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
    <div class="field">
      <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
      <input id="field-sitewide-search" type="text" class="form-control" name="q" aria-label="{{ _('Search datasets') }}"/>
      <button class="btn-search" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
    </div>
  </form>
{% endblock %}
