<div class="idx idx-hero">
  <div class="container">
    <div class="hero-block">
      <div class="row-bs4 justify-content-lg-center p-3">
        <!-- Heading of the block -->
        <div class="hero-heading">
          <h2 class="featurette-heading">{{ _('deposit・discover・reuse') }}</h2>
          <p class="mt-4"><a class="btn btn-large btn-hero" href="about">{{ _('Learn More') }}</a></p>
        </div>
        <!-- animation of the block-->
        <div class="hero-animation-left d-none d-lg-block"></div>
        <div id="hero-animation" class="d-none d-lg-block"></div>
      </div>
    </div>
  </div>
</div>
