{% set testContent = 'Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.' %}
{% set guideList = [{'title':'Guide Title 1', 'content':testContent}, {'title':'Guide Title 2', 'content':testContent}, {'title':'Guide Title 3', 'content':testContent}] %}

<div class="idx guide">
	{% for guide in guideList %}
	<div class="container">
		<div class="content">
			<h1>{{ _( guide.title ) }}</h1>
			<p>{{ _( guide.content ) }}</p>
			<a class="btn more" href="#">
				{{ _('more') }}<i class="fa fa-chevron-right"></i>
			</a>
		</div>
		<div class="guide-gif">
			<img class="gif" src="{{ h.url_for_static('/images/guide_GIFdemo.gif') }}" alt="">
		</div>
	</div>
	{% endfor %}
</div>