{% set testContent = 'This is a test feature content. This is a test feature content. This is a test feature content. This is a test feature content. This is a test feature content. This is a test feature content.' %}
{% set featureList = [{'title':'Feature Title 1', 'content':testContent}, {'title':'Feature Title 2', 'content':testContent}, {'title':'Feature Title 3', 'content':testContent}] %}

<div class="idx features">
  <div class="container">
      {% for feature in featureList %}
        {% if feature != featureList[0] %}
            <div class="bar"></div>
        {% endif %}
        <div class="block">
            <h2>{{ feature.title }}</h2>
            <p>{{ feature.content }}</p>
            <a href="#" class="link">{{ _('Link to page') }}</a>
        </div>
      {% endfor %}
  </div>
</div>