<div class="idx banner">
	<div class="container">
		<div class="heading">
			<div class="slogon">
				<!-- <h2>{{ _('deposit・<wbr>discover・<wbr>reuse') }}</h2>  -->
				<h2>{{ _('儲存・<wbr>尋找・<wbr>分享') }}</h2> 
			</div>
			<div class="search">
				<input type="text" class="input-search" placeholder="搜尋資料集...">
				<button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
			</div>
			<div class="function-btn">
				<a class="btn create-dataset" href="dataset/new">{{ _('Create Dataset') }}</a>
				<a class="btn create-project" href="organization/new">{{ _('Create Project') }}</a>
				<a class="btn view-all" href="dataset">{{ _('All Datasets') }}</a>
			</div>
		</div>
		<div class="animation">
			<div class="animation-left">
				<img src="{{ h.url_for_static('/images/logo_ani.svg') }}">
			</div>
			<div id="hero-animation" class="animation-right"></div>
		</div>
	</div>
</div>