<div class="idx guide">
  <div class="container">
      <div class="content">
          <h1>{{ _('Guide Title') }}</h1>
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </p>
          <a class="btn more" href="#">
              {{ _('more') }}<i class="fas fa-angle-right"></i>
          </a>
      </div>
      <div class="guide-gif">
          <img class="gif" src="{{ h.url_for_static('/images/guide_GIFdemo.gif') }}" alt="">
      </div>
  </div>
  <div class="container">
      <div class="content">
          <h1>{{ _('Guide Title') }}</h1>
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </p>
          <a class="btn more" href="#">
              {{ _('more') }}<i class="fas fa-angle-right"></i>
          </a>
      </div>
      <div class="guide-gif">
          <img class="gif" src="{{ h.url_for_static('/images/guide_GIFdemo.gif') }}" alt="">
      </div>
  </div>
  <div class="container">
      <div class="content">
          <h1>{{ _('Guide Title') }}</h1>
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </p>
          <a class="btn more" href="#">
              {{ _('more') }}<i class="fas fa-angle-right"></i>
          </a>
      </div>
      <div class="guide-gif">
          <img class="gif" src="{{ h.url_for_static('/images/guide_GIFdemo.gif') }}" alt="">
      </div>
  </div>
</div>