{% set formatCntList = h.get_format_count() %}

<div class="idx stats">
  <div class="container">
    <div class="stat-data">
      <div class="imp-data">
        <div class="imp-item">
          <h1>{{ _('Datasets') }}</h1>
          <a href="{{ h.url_for('dataset.search') }}" class="btn">
            <p class="cnt">{{ h.get_site_statistics()['dataset_count'] }}</p>
          </a>
        </div>
        <div class="imp-item">
          <h1>{{ _('Projects') }}</h1>
          <a href="{{ h.url_for('organization.index') }}" class="btn">
            <p class="cnt">{{ h.get_site_statistics()['organization_count'] }}</p>
          </a>
        </div>
        <div class="imp-item" href="#" data-toggle="tooltip" data-placement="top" title="{{ _('Total views of all datasets since 2022-03-25.') }}">
          <h1>{{ _('Total Views') }}</h1>
          <p class="cnt">{{ h.get_total_views() }}</p>
        </div>
      </div>
      <div class="sec-data">
        {% for formatCnt in formatCntList[:7] %}
        <div class="sec-item">
          <h5>{{ formatCnt[0] }}</h5>
          <a href="{{ h.url_for('dataset.search', res_format=formatCnt[0]) }}" class="btn">
            <p class="cnt">{{ formatCnt[1] }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="twitter">
      <a class="twitter-timeline" data-lang="en" data-theme="light"
        href="https://twitter.com/_depositar?ref_src=twsrc%5Etfw">Tweets by _depositar</a>
    </div>
  </div>
</div>