<div class="idx features">
  <div class="container">
      <div class="block left">
          <h2>{{ _('Feature Title') }}</h2>
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
          <a href="#" class="link">{{ _('Link to page') }}</a>
      </div>
      <div class="bar"></div>
      <div class="block center">
          <h2>{{ _('Feature Title') }}</h2>
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
          <a href="#" class="link">{{ _('Link to page') }}</a>
      </div>
      <div class="bar"></div>
      <div class="block right">
          <h2>{{ _('Feature Title') }}</h2>
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
          <a href="#" class="link">{{ _('Link to page') }}</a>
      </div>
  </div>
</div>