<div class="idx topics">
  <div class="container">
    <h1>{{ _('Topic') }}</h1>
    <ul>
      <li>
        <a href="{{ h.url_for('/group/general-reference') }}">
          <img src="{{ h.url_for('/images/icon-01.svg') }}" alt="general-reference" class="img-circle">
          <h5>{{ _('General reference') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/culture-and-the-arts') }}">
          <img src="{{ h.url_for('/images/icon-02.svg') }}" alt="culture-and-the-arts" class="img-circle">
          <h5>{{ _('Culture and the arts') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/geography-and-places') }}">
          <img src="{{ h.url_for('/images/icon-03.svg') }}" alt="geography-and-places" class="img-circle">
          <h5>{{ _('Geography and places') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/health-and-fitness') }}">
          <img src="{{ h.url_for('/images/icon-04.svg') }}" alt="health-and-fitness" class="img-circle">
          <h5>{{ _('Health and fitness') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/history-and-events') }}">
          <img src="{{ h.url_for('/images/icon-05.svg') }}" alt="history-and-events" class="img-circle">
          <h5>{{ _('History and events') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/human-activities') }}">
          <img src="{{ h.url_for('/images/icon-06.svg') }}" alt="human-activities" class="img-circle">
          <h5>{{ _('Human activities') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/mathematics-and-logic') }}">
          <img src="{{ h.url_for('/images/icon-07.svg') }}" alt="mathematics-and-logic" class="img-circle">
          <h5>{{ _('Mathematics and logic') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/natural-and-physical-sciences') }}">
          <img src="{{ h.url_for('/images/icon-08.svg') }}" alt="natural-and-physical-sciences"
            class="img-circle">
          <h5>{{ _('Natural and physical sciences') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/people-and-self') }}">
          <img src="{{ h.url_for('/images/icon-09.svg') }}" alt="people-and-self" class="img-circle">
          <h5>{{ _('People and self') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/philosophy-and-thinking') }}">
          <img src="{{ h.url_for('/images/icon-10.svg') }}" alt="philosophy-and-thinking" class="img-circle">
          <h5>{{ _('Philosophy and thinking') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/religion-and-belief-systems') }}">
          <img src="{{ h.url_for('/images/icon-11.svg') }}" alt="religion-and-belief-systems" class="img-circle">
          <h5>{{ _('Religion and belief systems') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/society-and-social-sciences') }}">
          <img src="{{ h.url_for('/images/icon-12.svg') }}" alt="society-and-social-sciences" class="img-circle">
          <h5>{{ _('Society and social sciences') }}</h5>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('/group/technology-and-applied-sciences') }}">
          <img src="{{ h.url_for('/images/icon-13.svg') }}" alt="technology-and-applied-sciences"
            class="img-circle">
          <h5>{{ _('Technology and applied sciences') }}</h5>
        </a>
      </li>
    </ul>
  </div>
</div>