{% extends 'header.html' %}

{% block header_wrapper %}
{% block header_account %} {{ super() }} {% endblock %}
<header class="navbar navbar-static-top masthead">
  {% block header_debug %} {{ super() }} {% endblock %}
  <div class="container navbar-expand-md">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggler collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %} {{ super() }} {% endblock %}
    </hgroup>
    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %} {{ super() }} {% endblock %}
      {% block header_site_search %} {{ super() }} {% endblock %}
      </div>
    </div>
  </header>
{% endblock %}