{% set testContent = "This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content. This is a test answer content." %}
{% set faqList = [{'id':'1', 'title':'Question #1', 'content':testContent}, {'id':'2', 'title':'Question #2', 'content':testContent}, {'id':'3', 'title':'Question #3', 'content':testContent}, {'id':'4', 'title':'Question #4', 'content':testContent}, {'id':'5', 'title':'Question #5', 'content':testContent}, {'id':'6', 'title':'Question #6', 'content':testContent}] %}

<div class="idx faq">
  <div class="container">
    <h1>{{ _('FAQ') }}</h1>
    <div id="accordion">
      {% for faq in faqList %}
      <div class="card">
        {% if faq == faqList[0] %}
          <button class="btn btn-link" data-toggle="collapse" data-target={{ "#collapse" + faq.id }} aria-expanded="true" aria-controls={{ "collapse" + faq.id }}>
        {% else %}
          <button class="btn btn-link" data-toggle="collapse" data-target={{ "#collapse" + faq.id }} aria-expanded="false" aria-controls={{ "collapse" + faq.id }}>
        {% endif %}
          <div class="card-header" id={{ "heading" + faq.id }}>
            <h5 class="mb-0">
              {{ faq.title }}
            </h5>
            <i class="fa fa-chevron-down"></i>
          </div>
        </button>

        {% if faq == faqList[0] %}
          <div id={{ "collapse" + faq.id }} class="collapse show" aria-labelledby={{ "heading" + faq.id }} data-parent="#accordion">
        {% else %}
          <div id={{ "collapse" + faq.id }} class="collapse" aria-labelledby={{ "heading" + faq.id }} data-parent="#accordion">
        {% endif %}
          <div class="card-body">
            {{ faq.content }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>