{%
  set feature_list = [
    {
      'title':_('Open and Free'),
      'content':_('The data repository is built on top of the open source CKAN package. It has been customized and extended to support research data management. The service is open to all researchers. Registration is free!'),
      'link': h.get_doc_url() + 'maintaining/installing/index.html'
    },
    {
      'title':_('Flexible'),
      'content':h.get_markdown(_('All kinds of data can be deposited. Datasets can be searched by spatiotemporal ranges, data types, keywords, and other conditions. The datasets are indexed by [Google Dataset Search](https://datasetsearch.research.google.com/).')),
      'link': h.get_doc_url() + 'user-guide/finding-data.html'
    },
    {
      'title':_('Interoperable'),
      'content':_('Resource catalogs and data endpoints are supported by Web APIs. APIs to access structured data (e.g. CSV and Excel files) are available too. Programmable data access and analytics can be implemented.'),
      'link': h.get_doc_url() + 'user-guide/data-api.html'
    }
  ]
%}

<div class="idx features">
  <div class="container">
      {% for feature in feature_list %}
        {% if feature != feature_list[0] %}
          <div class="bar"></div>
        {% endif %}
        <div class="block">
          <h2>{{ feature.title }}</h2>
          <div class="content">{{ feature.content }}</div>
          <a href={{ feature.link }} class="link" target="_blank">{{ _('More') }}</a>
        </div>
      {% endfor %}
  </div>
</div>
