{#- A hack for internationalizating strings -#}

{{ _('Filter by location') }}
{{ _('depositar') }}
{{ _('Please draw query extent in the map:') }}
{{ _('Dataset extent') }}

{#- CKAN 2.10 -#}

{{ _('Total number of Datasets') }}
{{ _('Date') }}
{{ _('Total datasets') }}
{{ _('Dataset Revisions per Week') }}
{{ _('All dataset revisions') }}
{{ _('New datasets') }}
{{ _('Most Edited Datasets') }}
{{ _('Number of edits') }}
{[ _('No edited datasets') ]}
{{ _('Total Number of Datasets') }}
{{ _('Username or Email') }}
{{ _('How does this work?') }}
{{ _('Enter your email address or username into the box and we will send you an email with a link to enter a new password.') }}
{{ _('Reorder resource view') }}
{{ _('There is no description for this dataset') }}
{{ _('Current Sysadmins') }}
{{ _('Revoke Sysadmin permission') }}
{{ _('Promote user to Sysadmin') }}
{{ _('Promote') }}
{{ _('No activity found for this type') }}
{{ _('No activity found') }}
{{ _('All activity types') }}
{{ _('Newer activities') }}
{{ _('Older activities') }}
{% trans %}
You're currently viewing an old version of this dataset.
Data files may not match the old version of the metadata.
<a href="{{ url }}">View the current version</a>.
{% endtrans %}
