{% extends "page.html" %}

{% block title %}{{ _('depositar — Deposit, Discover, Reuse') }}{% endblock %}

{%- block content %}
  {% block maintag %}<div role="main">{% endblock %}
  {% block main_content %}
    <div id="content" class="container">
      {% block flash %}
        {{ super() }}
      {% endblock %}
    </div>

    {% snippet "home/index/idx_hero.html" %}
    {#% snippet "home/index/idx_features.html" %#}
    {% snippet "home/index/idx_topics.html" %}
    {% snippet "home/index/idx_datasets.html" %}
    {% snippet "home/index/idx_partners.html" %}
  {% endblock %}
{% endblock %}

{% block secondary %}{% endblock %}

{%- block scripts %}
  {{ super() }}
  {% resource 'depositar_theme/index' %}
{% endblock -%}

{%- block styles %}
  {{ super() }}
  {% resource 'depositar_theme/index' %}
{% endblock -%}
