{% extends "page.html" %}

{% block title %}{{ _('depositar — Deposit, Discover, Reuse') }}{% endblock %}

{%- block content %}
  {% block header %}{% endblock %}
  {% snippet "home/index/idx_header.html" %}
  {% block maintag %}<div class="container-fluid">{% endblock %}
    <div id="content" class="container flash">
      {% block flash %}
        {% block flash_inner %}
          {% for message in h.flash.pop_messages() | list %}
            <div class="alert fade in {{ message.category }} alert-dismissible show">
              <div class="msg-content">
                {{ h.literal(message) }}
              </div>
            </div>
          {% endfor %}
        {% endblock %}
      {% endblock %}
    </div>

    {% snippet "home/index/idx_banner.html" %}
    {% snippet "home/index/idx_intro.html" %}
    {% snippet "home/index/idx_features.html" %}
    {% snippet "home/index/idx_showcases.html" %}
    {% snippet "home/index/idx_stats.html" %}
    {% snippet "home/index/idx_guide.html" %}
    {#% snippet "home/index/idx_topics.html" %#}
    {% snippet "home/index/idx_faq.html" %}
  </div>
{% endblock %}

{% block secondary %}{% endblock %}

{%- block scripts %}
  {% asset 'depositar_theme/index-js' %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock -%}

{%- block styles %}
  {% asset 'depositar_theme/index-css' %}
{% endblock -%}
