{% ckan_extends %}

{% set doc_url = h.get_doc_url() %}

{% block ark_title %}
  {{ super() }}
  <span class="pull-right">
    <a href="{{ doc_url }}user-guide/ark-identifier.html" target="_blank"><i class="fa fa-question-circle"></i></a>
  </span>
{% endblock %}

{% block ark_content %}
  <p>{{ super() }}</p>
{% endblock %}

{% block ark_missing %}
  {% trans %}
    Not assigned. Please find the
    <a href="{{ doc_url }}user-guide/ark-identifier.html" target="_blank">criteria</a>
    for assigning ARK.
  {% endtrans %}
{% endblock %}
