@charset "UTF-8";
.account-masthead {
  background-color: black;
  box-sizing: content-box;
  min-height: 30px;
  padding-top: 5px;
}
.account-masthead .account {
  display: flex;
  justify-content: flex-end;
}
.account-masthead .account ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.account-masthead .account ul li {
  border-left: solid 1px #ccc;
}
.account-masthead .account ul li a {
  color: white;
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding: 0 10px;
}
.account-masthead .account ul li a:hover {
  background-color: #333;
  text-decoration: none;
}
.account-masthead .account ul li a:hover .badge {
  background-color: #000f14;
  color: white;
}
.account-masthead .account ul li a .text {
  display: none;
}
.account-masthead .account ul li a .user-image {
  border-radius: 4px;
}
.account-masthead .account ul li a .badge {
  background-color: #00232e;
  color: #bfd7de;
  font-size: 12px;
  margin-left: 3px;
  padding: 1px 6px;
}

.masthead {
  background-color: white;
  background-image: none;
}
.masthead.navbar {
  padding: 5px 0;
}
.masthead .navbar-collapse {
  justify-content: flex-end;
  padding-top: 0.5rem;
}
.masthead .logo img {
  padding-left: 5px;
  width: 185px;
}
.masthead .navigation {
  margin-top: 5px;
}
.masthead .navigation .nav-pills li a {
  border-radius: 0;
  display: block;
  line-height: 7px;
  padding: 10px 15px;
  text-decoration: none;
}
.masthead .navigation .nav-pills li a::after {
  background-color: #00e09b;
  content: "";
  display: block;
  height: 3px;
  margin-top: 6px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  transition-property: width, color;
  transition-property: width, color;
  width: 0;
}
.masthead .navigation .nav-pills li a:hover {
  background-color: white;
}
.masthead .navigation .nav-pills li a:hover::after {
  width: 100%;
}
.masthead .navigation .nav-pills li.active a {
  background-color: white;
}
.masthead .navigation .nav-pills li.active a::after {
  background-color: #00e09b;
  border-radius: 0;
  height: 3px;
  margin-top: 6px;
  width: 100%;
}
.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
  border-bottom: none;
  color: black;
  font-size: 15px;
}
.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus {
  background-color: white;
  border: none !important;
  color: black;
  font-size: 25px;
  margin-top: 0;
  outline: unset;
}
.masthead .debug {
  color: rgba(255, 255, 255, 0.5);
  left: 10px;
  position: absolute;
  top: 37px;
}
.masthead .site-search .field {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}
.masthead .site-search .field label {
  display: none;
}
.masthead .site-search .field input {
  background: #ededed;
  border: 0;
  border-radius: 50px;
  box-shadow: none;
  color: black;
  line-height: 20px;
  margin-top: -7px;
  padding: 10px 15px;
  padding-bottom: 4px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  width: 60px;
}
.masthead .site-search .field input:hover {
  width: 200px;
}
.masthead .site-search .field .btn-search {
  background: none;
  border: none;
  color: #999;
  margin-right: 10px;
  position: absolute;
  transition: color 0.2s ease-in;
}
.masthead .site-search .field .btn-search:hover {
  color: black;
}

@media (max-width: 767.98px) {
  .masthead.navbar .container {
    flex-direction: row-reverse;
  }
  .masthead.navbar .container .navbar-collapse {
    padding: 10px inherit;
  }
  .masthead.navbar .container .navbar-collapse .navigation .nav-pills {
    flex-direction: column;
    width: 100%;
  }
  .masthead.navbar .container .navbar-collapse .navigation .nav-pills > li {
    font-size: 25px;
    margin-top: 20px;
  }
  .masthead.navbar .container .navbar-collapse .site-search {
    display: inherit;
  }
  .masthead.navbar .container .navbar-collapse .site-search .field {
    position: relative;
  }
  .masthead.navbar .container .navbar-collapse .site-search .field input {
    border-radius: 4px;
    margin: 20px 0;
    padding: 20px 10px;
    width: 100%;
  }
  .masthead.navbar .container .navbar-collapse .site-search .field input:hover {
    width: 100%;
  }
  .masthead.navbar .container .navbar-collapse .site-search .field .btn-search {
    top: 35px;
  }
}
.flash {
  position: relative;
  height: 0;
  top: 1.25rem;
}
.flash .alert {
  display: flex;
  justify-content: space-between;
}
.flash .alert .msg-content {
  width: 95%;
}
.flash .alert-dismissible {
  padding-right: inherit;
}
.flash .alert-dismissible .close {
  position: initial;
  top: initial;
  right: initial;
  padding: 0;
  width: 2%;
  height: min-content;
  line-height: 30px;
}

.banner {
  color: white;
  background-color: #012819;
  background-image: linear-gradient(to right, #00e09b -30%, #012819 40%, #012819 95%, #00e09b 130%);
}
.banner .container {
  display: flex;
  justify-content: space-between;
  min-height: 45vh;
}
.banner .container .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}
.banner .container .heading .slogan h2 {
  font-size: 32pt;
  font-weight: bolder;
  word-break: keep-all;
}
.banner .container .heading .search {
  margin: 3rem 0 2rem;
}
.banner .container .heading .search:hover {
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.banner .container .heading .search .site-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.banner .container .heading .search .site-search .input-search {
  padding: 10px 15px;
  width: 100%;
  background-color: #ededed;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.banner .container .heading .search .site-search .btn-search {
  position: absolute;
  margin-right: 12px;
  color: #999;
  background: none;
  border: none;
  transition: color 0.2s ease-in;
}
.banner .container .heading .search .site-search .btn-search:hover {
  color: black;
}
.banner .container .heading .search .site-search .btn-search i {
  font-size: 14pt;
}
.banner .container .heading .function-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.banner .container .heading .function-btn .btn {
  padding: 12px 0;
  width: 35%;
  color: #00e09b;
  border: solid 2px #00e09b;
  border-radius: 6px;
  font-weight: bolder;
}
.banner .container .heading .function-btn .btn:last-child {
  width: 25%;
}
.banner .container .heading .function-btn .btn:hover {
  background-color: white;
  border: solid 2px white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.banner .container .animation {
  display: flex;
  align-items: center;
}
.banner .container .animation .animation-left {
  margin-bottom: -10px;
  width: 132px;
  height: 169px;
}
.banner .container .animation .animation-right {
  padding-left: 1px;
  width: 350px;
  height: 240px;
}

@media (max-width: 1199.98px) {
  .banner {
    background-image: url("../../images/visual-md.png");
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 45%;
  }
  .banner .container .animation {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .banner {
    background-blend-mode: overlay;
    background-size: contain;
  }
  .banner .container .heading {
    width: 80%;
  }
}
@media (max-width: 575.98px) {
  .banner .container {
    justify-content: center;
  }
  .banner .container .heading {
    width: 100%;
  }
  .banner .container .heading .function-btn {
    flex-wrap: wrap;
  }
  .banner .container .heading .function-btn .btn:not(:last-child) {
    margin-bottom: 1rem;
    width: 45%;
  }
  .banner .container .heading .function-btn .btn.view-all {
    width: 100%;
  }
}
.guide .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guide .container:not(:last-child) {
  margin-bottom: 5rem;
}
.guide .container:nth-child(odd) .content {
  margin-right: 5rem;
}
.guide .container:nth-child(odd) .guide-gif {
  justify-content: flex-end;
}
.guide .container:nth-child(even) {
  flex-direction: row-reverse;
}
.guide .container:nth-child(even) .content {
  margin-left: 5rem;
}
.guide .container:nth-child(even) .guide-gif {
  justify-content: flex-start;
}
.guide .container .content {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.guide .container .content p {
  -webkit-box-orient: vertical;
  display: inline-box;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
.guide .container .content .btn.more {
  align-self: end;
  font-weight: bold;
}
.guide .container .content .btn.more:hover {
  color: #00e09b;
}
.guide .container .content .btn.more i {
  margin-left: 5px;
}
.guide .container .guide-gif {
  display: flex;
  width: 80%;
}
.guide .container .guide-gif .gif {
  width: 100%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1199.98px) {
  .guide .container:nth-child(n) {
    flex-direction: column;
    height: auto;
  }
  .guide .container:nth-child(n) .content {
    margin: 0 0 1rem;
    width: 100%;
  }
  .guide .container .guide-gif {
    width: 100%;
  }
}
.carousel.slide {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.carousel-inner {
  width: 90%;
}
.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
  display: flex;
}
.carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}
.carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%);
}
.carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
  transform: translateX(0);
}
.carousel-inner .card .img-container {
  align-items: center;
  display: flex;
  height: 250px;
  justify-content: center;
  width: 100%;
}
.carousel-inner .card .img-container .img {
  max-height: 100%;
  max-width: 100%;
}
.carousel-inner .card .content {
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.carousel-inner .card .content .case-content {
  -webkit-box-orient: vertical;
  display: inline-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.carousel-inner .card .content .btn.more {
  align-self: end;
  font-weight: bold;
}
.carousel-inner .card .content .btn.more:hover {
  color: #00e09b;
}
.carousel-inner .card .content .btn.more i {
  margin-left: 5px;
}
.carousel-control-prev i, .carousel-control-next i {
  color: black;
  font-size: 50pt;
}

@media (max-width: 1199.98px) {
  .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }
  .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
  .carousel-inner .carousel-item .card-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767.98px) {
  .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
    transform: translateX(100%);
  }
  .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
    transform: translateX(-100%);
  }
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
  .carousel-inner .carousel-item .card-col {
    flex: 1;
    max-width: initial;
  }

  .carousel-control-prev i, .carousel-control-next i {
    font-size: 30pt;
  }
}
.topics .container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.topics .container ul li {
  padding: 2%;
  width: 14.28%;
}
.topics .container ul li a {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.topics .container ul li a:hover {
  color: #00e09b;
  text-decoration: none;
  transform: scale(1.08);
  transition: 0.1s;
}
.topics .container ul li a h5 {
  font-weight: bold;
  margin: auto;
  width: 6.5rem;
}
.topics .container ul li a .img-circle {
  border-radius: 50%;
  margin: 1rem auto;
  width: 80%;
}

@media (max-width: 1399.98px) {
  .topics .container ul li a h5 {
    font-size: 1rem;
    width: 5rem;
  }
  .topics .container ul li a .img-circle {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .topics .container ul li {
    width: 20%;
  }
}
@media (max-width: 767.98px) {
  .topics .container ul li {
    width: 25%;
  }
}
@media (max-width: 575.98px) {
  .topics .container ul li {
    padding: 5%;
    width: 50%;
  }
}
.stats .container {
  display: flex;
  justify-content: space-between;
}
.stats .container .stat-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}
.stats .container .stat-data .imp-data {
  display: flex;
  justify-content: space-around;
}
.stats .container .stat-data .imp-data .imp-item {
  line-height: initial;
  text-align: center;
}
.stats .container .stat-data .imp-data .imp-item:not(:last-child) {
  margin-right: 2.5rem;
}
.stats .container .stat-data .imp-data .imp-item .btn {
  line-height: inherit;
  padding: 0;
}
.stats .container .stat-data .imp-data .imp-item .btn:hover {
  color: #00e09b;
}
.stats .container .stat-data .imp-data .imp-item .cnt {
  font-size: 60pt;
  font-weight: bolder;
}
.stats .container .stat-data .sec-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stats .container .stat-data .sec-data .sec-item {
  display: flex;
  align-items: center;
  width: 25%;
  text-align: center;
  flex-direction: column;
  line-height: initial;
}
.stats .container .stat-data .sec-data .sec-item h5 {
  padding: 0.25rem 0;
  width: 5rem;
  border: solid 2px black;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
.stats .container .stat-data .sec-data .sec-item .btn:hover {
  color: #00e09b;
}
.stats .container .stat-data .sec-data .sec-item .btn .cnt {
  font-size: 30pt;
  font-weight: bolder;
}
.stats .container .twitter {
  overflow: auto;
  padding: 5px;
  width: 30%;
  height: 60vh;
  min-height: 35rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1199.98px) {
  .stats .container {
    flex-direction: column;
    height: auto;
    min-height: 60vh;
  }
  .stats .container .stat-data {
    margin-bottom: 3rem;
    width: auto;
  }
  .stats .container .stat-data .imp-data {
    margin-bottom: 2rem;
  }
  .stats .container .twitter {
    margin: auto;
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .stats .container .stat-data .imp-data {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .stats .container .stat-data .imp-data .imp-item:not(:last-child) {
    margin: 0 auto 0.5rem;
  }
  .stats .container .stat-data .sec-data .sec-item {
    width: 33.33%;
  }
  .stats .container .twitter {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .stats .container .stat-data .sec-data .sec-item {
    width: 50%;
  }
}
.features .container {
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.features .container .block {
  width: 30%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.features .container .block h2 {
  font-weight: bold;
}
.features .container .block p {
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.features .container .block .link {
  color: black;
  font-weight: bold;
  align-self: end;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  border: solid 2px black;
  border-radius: 0.5rem;
}
.features .container .block .link:hover {
  color: white;
  border: solid 2px white;
  background-color: #012819;
}
.features .container .bar {
  height: 80%;
  border: solid 1px #cdcdcd;
}

@media (max-width: 991.98px) {
  .features .container {
    height: auto;
    flex-direction: column;
  }
  .features .container .block {
    width: 80%;
  }
  .features .container .bar {
    border: initial;
  }
}
@media (max-width: 575.98px) {
  .features .container .block {
    width: 100%;
  }
}
.faq {
  margin-bottom: 0;
}
.faq #accordion {
  margin-top: 2rem;
}
.faq #accordion .card {
  margin-bottom: 1.25rem;
}
.faq #accordion .card .btn-link {
  padding: 0;
  color: black;
  text-decoration: none;
}
.faq #accordion .card .btn-link .card-header {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq #accordion .card .btn-link .card-header i {
  font-size: 15pt;
  transform: rotate(0deg);
  transition: 0.3s;
}
.faq #accordion .card .btn-link[aria-expanded=true] .card-header i {
  transform: rotate(-180deg);
  transition: 0.3s;
}

.site-footer {
  background-color: black;
  padding: 3.25rem 0;
  color: white;
}
.site-footer a {
  color: white;
  text-decoration: none;
  transition: 0.1s;
}
.site-footer a:hover {
  color: #00e09b;
}
.site-footer a.external::after {
  content: "ï‚Ž";
  font-family: FontAwesome;
  font-size: 10px;
  position: relative;
  margin-right: 5px;
  top: -3px;
  left: 3px;
}
.site-footer .footer-links .footer-logo {
  background: url("../../images/logo_eng_horizontal_w.svg") no-repeat scroll;
  height: 50px;
  width: 30%;
  padding-bottom: 10px;
}
.site-footer .attribution .ckan-footer-logo {
  display: block;
  width: 68px;
  height: 21px;
  margin-top: 2px;
  background: url("../../../base/images/ckan-logo-footer.png") no-repeat top left;
  text-indent: -900em;
}

@media (max-width: 767.98px) {
  .site-footer .footer-links .footer-logo {
    width: 50%;
  }
}
body {
  line-height: 30px;
  font-size: 16px;
  background-color: white;
  color: black;
  font-family: "Noto Sans TC", arial, "Microsoft JhengHei", sans-serif;
}

:focus {
  outline: 0;
}

::selection {
  color: white;
  background-color: #00e09b;
}

h1 {
  font-weight: bold;
}

.container-fluid {
  padding: 0;
  min-height: 100vh;
}

.idx {
  padding: 5rem 0;
  border-bottom: solid 10px #ececec;
}
