.idx-hero {
  height: 420px;
  background: #012819;
  background-image: linear-gradient(to right, #00e09b -30%, #012819 40%, #012819 95%, #00e09b 130%);
}
.idx-hero h2 {
  color: white;
}
@media (max-width: 979px) {
  .idx-hero {
    background-image: url("../../images/visual-md.png");
    background-repeat: no-repeat;
    background-position: 90% 40%;
    background-size: 55% auto;
  }
}
@media (max-width: 767px) {
  .idx-hero {
    background-blend-mode: overlay;
    background-position: 50% 50%;
    background-size: 90% auto;
    height: 250px;
  }
}
.hero-block {
  padding: 150px 0;
}
@media (max-width: 767px) {
  .hero-block {
    padding: 75px 0;
  }
}
.hero-heading {
  width: 400px;
}
.btn-hero {
  color: #00e09b !important;
  border: solid 2px #00e09b !important;
  padding: 12px 22px;
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: #fff;
  text-shadow: none;
  border: solid 2px #fff !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.hero-animation-left {
  width: 132px;
  height: 169px;
  margin-top: -41px;
  background-image: url("../../images/logo_ani.svg");
  background-repeat: no-repeat;
}
#hero-animation {
  width: 350px;
  height: 240px;
  margin-top: -81px;
  padding-left: 1px;
}
.idx-features {
  background-color: #edf7f1;
}
.feature-mark {
  color: #00e09b;
}
.idx-topics h5 {
  line-height: 1.5em;
}
.idx-topics .site-search {
  margin: 0;
}
.idx-topics .site-search input[type="text"] {
  border: 0;
  border-bottom: 2px solid #cdcdcd;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  color: #000;
  padding-top: 20px;
  background-color: transparent;
}
.idx-topics .site-search input[type="text"]:focus {
  border-bottom-color: #00e09b;
}
@media (max-width: 767px) {
  .idx-topics .site-search input[type="text"] {
    width: 120px;
    padding-top: 10px;
  }
}
:lang(zh_Hant_TW) .idx-topics h5 {
  font-size: 16px;
}
.btn-search {
  background-color: #333;
  box-shadow: none;
  color: #fff;
  border-radius: 30px;
  padding: 8px 16px;
  border: none !important;
  font-size: 16px;
  transition: 0.2s;
}
.btn-search:hover,
.btn-search:focus {
  background-color: #00e09b;
}
@media (max-width: 767px) {
  .btn-search {
    margin-top: 5px;
  }
}
.img-circle {
  border: 5px #012819 solid;
  background: #012819;
}
.img-circle:hover {
  transform: scale(1.08);
  transition: 0.13s;
}
.idx-datasets {
  background-image: url("../../images/visual-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.idx-datasets a {
  color: #000;
}
.idx-datasets-bg-1 {
  background: #d0eddd;
}
.idx-datasets-bg-2 {
  background: #f9bdbd;
}
.idx-datasets-bg-3 {
  background: #e4d2f9;
}
@media (max-width: 979px) {
  .idx-datasets {
    padding-bottom: 25px;
  }
}
.content-toggle {
  top: 300px;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  -webkit-transition-property: all;
  transition-property: all;
}
.content-toggle .desc {
  width: 80%;
}
.content-toggle,
.content-toggle-s {
  max-width: 1000px;
  position: absolute;
  z-index: 200;
  bottom: 0;
  margin-top: 0;
  overflow: hidden;
  opacity: 90%;
}
.content-toggle div h3,
.content-toggle-s div h3 {
  opacity: 0.85;
  width: 80%;
}
.content-toggle-s {
  top: 130px;
  left: 0;
  right: 0;
}
.content-toggle:hover {
  border-top: 4px #012819 solid;
}
@media (max-width: 767px) {
  .content-toggle .desc {
    width: 100%;
  }
}
@media (max-width: 370px) {
  .content-toggle {
    top: 130px;
  }
  .content-toggle h1 {
    font-size: 21px;
  }
  .content-toggle h3 {
    font-size: 16px;
  }
}
.hover-toggle {
  height: 550px;
}
.hover-toggle .opacity {
  opacity: 0;
}
.hover-toggle:hover .content-toggle {
  top: 0;
}
.hover-toggle-s {
  height: 265px;
}
.hover-toggle-s:hover .content-toggle-s {
  top: 0;
}
.hover-toggle,
.hover-toggle-s {
  overflow: hidden;
  position: relative;
}
.hover-toggle:hover .opacity,
.hover-toggle-s:hover .opacity {
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}
@media (max-width: 767px) {
  .hover-toggle-s {
    left: 15px;
  }
}
@media (max-width: 370px) {
  .hover-toggle {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .property-767 {
    margin-bottom: 20px;
    flex: auto;
  }
  .property-767-s {
    margin-left: auto;
    margin-right: auto;
  }
}
.idx-partners {
  padding-bottom: 55px !important;
}
.idx-partners a {
  text-decoration: none;
  border-bottom: 2px solid #00e09b;
  color: #000;
}
.idx-partners a:hover {
  color: #00e09b;
  transition: 0.1s;
}
@media (max-width: 979px) {
  .idx-partners {
    padding-bottom: 25px;
  }
}
.idx:nth-child(n+3) {
  padding-top: 55px;
  padding-bottom: 50px;
  border-top: #ececec 10px solid;
}
@media (max-width: 767px) {
  .idx:nth-child(n+3) {
    padding-top: 10px;
    padding-bottom: 25px;
  }
}
@media only screen and (max-width: 978px) and (min-width: 767px) {
  .idx:nth-child(n+3) {
    padding-top: 25px;
    padding-bottom: 20px;
  }
}
.featurette-heading {
  font-size: 35px;
  line-height: 1.45;
  display: inline;
}
.featurette-heading a {
  color: #000;
}
.featurette-heading a:hover {
  text-decoration: none;
}
@media (max-width: 979px) {
  .featurette-heading {
    font-size: 30px;
  }
}
