.account-masthead {
  color: color-contrast($mastheadTextColor);
  background: color-contrast($mastheadBackgroundColor);
  padding-top: 5px;

  .account {
    ul {
      li {
        a {
          color: color-contrast($mastheadTextColor);
          line-height: 21px;

          &:hover {
            color: color-contrast($mastheadTextColor);
            background-color: map-get($colors,"gray-dark");
          }
        }
      }
    }
  }
}

.masthead {
  background: $mastheadBackgroundColor url("#{$bgPath}");
  padding: 0;

  a {
    color: $mastheadTextColor;
  }

  .logo img {
    width: 185px;
    margin: 10px 0;
  }

  .header-text-logo {
    padding-top: 10px;
  }

  .main-navbar {
    /*&.section {
      @include media-breakpoint-only(sm) {
        float: left;
        margin-left: 40px;
      }
    }*/

    ul {
      li {
        padding: ($spacer * .6)  ($spacer * .9);
        a {
          padding: 0;
          color: $mastheadTextColor;
        }
        &:hover,
        &:focus,
        &.active {
          a{
            background-color: $mastheadBackgroundColor;

            &::after {
              width: 100%;
            }
          }
        }

        a::after {
          content: '';
          display: block;
          width: 0;
          height: 3px;
          background-color: $depositarMain;
          -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
          transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
          -webkit-transition-property: width, color;
          transition-property: width, color;
        }
      }
    }
  }

  .site-search {
    margin-top: 12px;

    input {
      background: shade-color($mastheadBackgroundColor, 7%);
      padding: 10px 15px;
      margin-top: -7px;
      border: 0;
      border-radius: 50px;
      box-shadow: none;
    }
    .field {
      width: 75px;
      -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
    }
    .field:hover {
      width: 150px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .masthead {
    .site-search {
      display: inherit;

      .field {
        width: 100%;
        
        input {
          width: 100%;
          border-radius: $border-radius;
        }
        &:hover {
          width: 100%;
        }
      }
    }
  }
}
