.banner {
  color: $bannerTextColor;
  background-color: $bannerBackgroundColor;
  background-image: $bannerBackgroundImage;

  .container {
    min-height: 45vh;
    display: flex;
    justify-content: space-between;

    .heading {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .slogan {
        h2 {
          font-size: 32pt;
          font-weight: bolder;
          word-break: keep-all;
        }
      }

      .search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 3rem 0 2rem;

        &:hover {
          border-radius: 30px;
          box-shadow: $bannerSearchHoverBoxShadow;
        }

        .input-search {
          width: 100%;
          padding: 10px 15px;
          background-color: $bannerInputSearchBackgroundColor;
          border: 0;
          box-shadow: $bannerInputSearchBoxShadow;
          border-radius: 30px;
        }

        .btn-search {
          color: $bannerBtnSearchTextColor;
          border: none;
          background: none;
          position: absolute;
          margin-right: 12px;

          &:hover {
            color: $bannerBtnSearchHoverTextColor;
          }

          i {
            font-size: 14pt;
          }
        }
      }

      .function-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .btn {
          color: $bannerFunctionBtnTextColor;
          border: solid 2px $bannerFunctionBtnBorderColor;
          border-radius: 6px;
          width: 35%;
          padding: 12px 0;
          font-weight: bolder;

          &:last-child {
            width: 25%;
          }

          &:hover {
            background-color: $bannerFunctionBtnHoverBackgroundColor;
            border: solid 2px $bannerFunctionBtnHoverBorderColor;
            box-shadow: $bannerFunctionBtnHoverBoxShadow;
          }
        }
      }
    }

    .animation {
      display: flex;
      align-items: center;

      .animation-left {
        width: 132px;
        height: 169px;
      }

      .animation-right {
        width: 350px;
        height: 240px;
      }
    }
  }
}

@media (max-width: $largeDeviceMaxWidth) {
  .banner {
    background-image: $mediaBannerBackgroundImage;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 90%;

    .container {
      .animation {
        display: none;
      }
    }
  }
}

@media (max-width: $mediumDeviceMaxWidth) {
  .banner {
    background-size: contain;
    background-blend-mode: overlay;

    .container {
      .heading {
        width: 80%;
      }
    }
  }
}

@media (max-width: $extraSmallDeviceMaxWidth) {
  .banner {
    .container {
      justify-content: center;

      .heading {
        width: 100%;

        .function-btn {
          flex-wrap: wrap;

          .btn {
            &:not(:last-child) {
              width: 45%;
              margin-bottom: 1rem;
            }

            &.view-all {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
