.faq {
  margin-bottom: 0;

  #accordion {
    margin-top: 2rem;
    counter-reset: cnt;

    .card {
      margin-bottom: 1.25rem;

      .btn-link {
        padding: 0;
        text-decoration: none;
        color: $faqBtnLinkTextColor;

        .card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: none;

          .mb-0 {
            display: flex;
            text-align: left;
            counter-increment: cnt;

            &::before {
              width: 45px;
              flex-shrink: 0;
              font-family: FontAwesome, arial;
              font-weight: 550;
              content: '\f292\ ' counter(cnt);
            }
          }

          i {
            font-size: 15pt;
            transform: rotate(0deg);
            transition: 0.3s;
          }
        }

        &[aria-expanded='true'] {
          .card-header {
            i {
              transform: rotate(-180deg);
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}
