.features {
  .container {
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .block {
      width: 30%;
      height: 100%;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-weight: bold;
      }

      p {
        overflow: hidden;
        display: -webkit-inline-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .link {
        color: $featureLinkTextColor;
        font-weight: bold;
        align-self: end;
        text-decoration: none;
        padding: .25rem .75rem;
        border: solid 2px $featureLinkBorderColor;
        border-radius: .5rem;

        &:hover {
          color: $featureLinkHoverTextColor;
          border: solid 2px $featureLinkHoverBorderColor;
          background-color: $featureLinkHoverBackgroundColor;
        }
      }
    }

    .bar {
      height: 80%;
      border: solid 1px $featureBarBorderColor;
    }
  }
}

@media (max-width: $mediumDeviceMaxWidth) {
  .features {
    .container {
      height: auto;
      flex-direction: column;

      .block {
        width: 80%;
      }

      .bar {
        border: initial;
      }
    }
  }
}

@media (max-width: $extraSmallDeviceMaxWidth) {
  .features {
    .container {
      .block {
        width: 100%;
      }
    }
  }
}