.flash {
  position: relative;
  top: 1.25rem;
  height: 0;

  &-messages {
    .alert {
      &-warning {
        color: $flashAlertWarningTextColor;
        background-color: $flashAlertWarningBackgroundColor;
        border-color: $flashAlertWarningBorderColor;
      }

      &-info {
        color: $flashAlertInfoTextColor;
        background-color: $flashAlertInfoBackgroundColor;
        border-color: $flashAlertInfoBorderColor;
      }

      &-dismissible {
        a:not(.close) {
          border-bottom: 2px solid $mainThemeColor;

          &:hover {
            text-decoration: none;
            color: $flashAlertTextColor;
          }
        }

        .close {
          span {
            color: $flashAlertTextColor;
            opacity: 0.2;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  .alert {
    .msg-content {
      a {
        border-bottom: 2px solid $mainThemeColor;

        &:hover {
          text-decoration: none;
          color: $flashAlertTextColor;
        }
      }
    }
  }
}
