.flash {
  position: relative;
  top: 1.25rem;
  height: 0;

  &-messages {
    .alert {
      padding: 15px;
      margin-bottom: 0;

      &-warning {
        color: $flashAlertWarningTextColor;
        background-color: $flashAlertWarningBackgroundColor;
        border-color: $flashAlertWarningBorderColor;
      }

      > a:not(.close) {
        border-bottom: 2px solid $mainThemeColor;

        &:hover {
          text-decoration: none;
          color: $flashAlterHoverTextColor;
        }
      }

      .close {
        opacity: 0.2;
      }
    }
  }

  .alert {
    display: flex;
    justify-content: space-between;

    .msg-content {
      width: 95%;

      a {
        border-bottom: 2px solid $mainThemeColor;

        &:hover {
          text-decoration: none;
          color: $flashAlterHoverTextColor;
        }
      }
    }

    &-dismissible {
      padding-right: inherit;

      .close {
        position: initial;
        top: initial;
        right: initial;
        padding: 0;
        width: 2%;
        height: min-content;
        line-height: 30px;
      }
    }
  }
}
