.site-footer {
  padding: 3.25rem 0;
  color: $footerTextColor;
  background-color: $footerBackgroundColor;

  a {
    text-decoration: none;
    color: $footerLinkTextColor;
    transition: 0.1s;

    &:hover {
      color: $footerLinkHoverTextColor;
    }

    &.external {
      &::after {
        position: relative;
        top: -3px;
        left: 3px;
        margin-right: 5px;
        font-size: 10px;
        font-family: FontAwesome;
        content: '\f08e';
      }
    }
  }

  .footer-links {
    .footer-logo {
      padding-bottom: 10px;
      width: 30%;
      height: 50px;
      background: $footerLogoImage no-repeat scroll;
    }

    .footer-contacts a:not(:last-child) {
      padding-right: 0.25rem !important;
    }
  }

  .attribution {
    .ckan-footer-logo {
      display: block;
      margin-top: 2px;
      width: 68px;
      height: 21px;
      text-indent: -900em;
      background: $footerCkanLogoImage no-repeat top left;
    }
  }
}

@media (max-width: $smallDeviceMaxWidth) {
  .site-footer {
    .footer-links {
      .footer-logo {
        width: 50%;
      }
    }
  }
}
