.site-footer {
  background-color: $footerBackgroundColor;
  padding: 3.25rem 0;
  color: $footerTextColor;

  a {
    color: $footerLinkTextColor;
    text-decoration: none;
    transition: 0.1s;

    &:hover {
      color: $footerLinkHoverTextColor;
    }

    &.external {
      &::after {
        content: "\f08e";
        font-family: FontAwesome;
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }

  .footer-links {
    .footer-logo {
      background: $footerLogoImage no-repeat scroll;
      height: 50px;
      width: 30%;
      padding-bottom: 10px;
    }
  }

  .attribution {
    .ckan-footer-logo {
      display: block;
      width: 68px;
      height: 21px;
      margin-top: 2px;
      background: $footerCkanLogoImage no-repeat top left;
      text-indent: -900em;
    }
  }
}

@media (max-width: $smallDeviceMaxWidth) {
  .site-footer {
    .footer-links {
      .footer-logo {
        width: 50%;
      }
    }
  }
}