.guide {
  background-image: $guildBackgroundImage;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;

  .container {
    .carousel {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .carousel-inner {
        margin-bottom: 1.5rem;
        width: 90%;

        .carousel-item {
          &.active,
          &-next,
          &-prev {
            display: flex;
          }

          &-right.active,
          &-next {
            transform: translateX(100%);
          }

          &-left.active,
          &-prev {
            transform: translateX(-100%);
          }

          &-right,
          &-left {
            transform: translateX(0);
          }

          .content {
            display: flex;
            margin-right: 3rem;
            width: 40%;
            flex-direction: column;
          }

          .guide-video {
            display: flex;
            justify-content: flex-end;
            width: 80%;

            .video {
              width: 100%;
            }
          }
        }
      }

      .carousel-control {
        &-prev,
        &-next {
          position: initial;
          width: 3%;
        }
      }

      .carousel-indicators {
        position: initial;

        li {
          background-color: $guideSlideIndicatorsBackgroundColor;
        }
      }
    }
  }
}

@media (max-width: $largeDeviceMaxWidth) {
  .guide {
    .container {
      .carousel {
        .carousel-inner {
          .carousel-item {
            flex-direction: column;

            &.active {
              display: flex;
            }

            .content {
              margin: 0 0 1rem;
              width: 100%;
            }

            .guide-video {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
