.guide {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    &:nth-child(odd) {
      .content {
        margin-right: 5rem;
      }

      .guide-gif {
        justify-content: flex-end;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .content {
        margin-left: 5rem;
      }

      .guide-gif {
        justify-content: flex-start;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 45%;

      p {
        -webkit-box-orient: vertical;
        display: inline-box;
        -webkit-line-clamp: 6;
        overflow: hidden;
      }

      .btn {
        &.more {
          align-self: end;
          font-weight: bold;

          &:hover {
            color: $guideBtnHoverTextColor;
          }

          i {
            margin-left: 5px;
          }
        }
      }
    }

    .guide-gif {
      display: flex;
      width: 80%;

      .gif {
        width: 100%;
        box-shadow: $guideGifBoxShadow;
      }
    }
  }
}

@media (max-width: $largeDeviceMaxWidth) {
  .guide {
    .container {
      &:nth-child(n) {
        flex-direction: column;
        height: auto;

        .content {
          margin: 0 0 1rem;
          width: 100%;
        }
      }

      .guide-gif {
        width: 100%;
      }
    }
  }
}
