.account-masthead {
  background-color: $mastheadBackgroundColor;

  .account {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0.5rem 0;

      li {
        border-left: solid 1px $mastheadListBorderLeftColor;

        a {
          color: $mastheadListLinkTextColor;
          padding: 0 10px;
          font-size: 14px;
          display: block;
          line-height: 21px;

          &:hover {
            background-color: $mastheadListLinkHoverBackgroundColor;
            text-decoration: none;

            .badge {
              color: $mastheadListLinkBadgeHoverTextColor;
              background-color: $mastheadListLinkBadgeHoverBackgroundColor;
            }
          }

          .text {
            display: none;
          }

          .user-image {
            border-radius: 4px;
          }

          .badge {
            color: $mastheadListLinkBadgeTextColor;
            background-color: $mastheadListLinkBadgeBackgroundColor;
            margin-left: 3px;
            padding: 1px 6px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.masthead {
  background-color: #fff;
  background-image: none;

  &.navbar {
    padding: 5px 0;
  }

  .navbar-collapse {
    padding-top: 0.5rem;
    justify-content: flex-end;
  }

  .logo img {
    width: 185px;
    padding-left: 5px;
  }

  .navigation {
    margin-top: 5px;

    .nav-pills {
      li {
        a {
          display: block;
          padding: 10px 15px;
          border-radius: 0;
          line-height: 7px;
          text-decoration: none;

          &::after {
            content: '';
            display: block;
            width: 0;
            margin-top: 6px;
            height: 3px;
            background-color: #00e09b;
            -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
            -webkit-transition-property: width, color;
            transition-property: width, color;
          }

          &:hover {
            background-color: #fff;

            &::after {
              width: 100%;
            }
          }
        }

        &.active {
          a {
            background-color: #fff;

            &::after {
              width: 100%;
              margin-top: 6px;
              height: 3px;
              background-color: #00e09b;
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  .nav > li > a,
  .nav > li > a:focus,
  .nav > li > a:hover,
  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus {
    color: #000;
    border-bottom: none;
    font-size: 15px;
  }

  .btn-navbar,
  .btn-navbar:hover,
  .btn-navbar:focus {
    background-color: #fff;
    margin-top: 0;
    color: #000;
    font-size: 25px;
    border: none !important;
    outline: unset;
  }

  .site-search {
    .field {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      label {
        display: none;
      }

      input {
        color: #000;
        background: darken(#fff, 7%);
        width: 60px;
        padding: 10px 15px;
        margin-top: -7px;
        padding-bottom: 4px;
        border: 0;
        border-radius: 50px;
        box-shadow: none;
        line-height: 20px;
        -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);

        &:hover {
          width: 200px;
        }
      }

      .btn-search {
        color: #999;
        border: none;
        background: none;
        position: absolute;
        margin-right: 10px;
        transition: color 0.2s ease-in;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 979px) {
  .masthead {
    .nav-collapse {
      padding-top: 10px;
      padding-bottom: 10px;

      .nav > li {
        font-size: 25px;
        margin-top: 20px;
      }
    }

    .site-search {
      display: inherit;

      input {
        padding: 20px 10px;
        width: 100%;
        border-radius: 4px;
        margin: 20px 0;

        &:hover {
          width: 100%;
        }
      }
    }
  }
}
