.account-masthead {
  background-color: $mastheadBackgroundColor;

  .account {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0.5rem 0;

      li {
        border-left: solid 1px $mastheadListBorderLeftColor;

        a {
          color: $mastheadListLinkTextColor;
          padding: 0 10px;
          font-size: 14px;
          display: block;
          line-height: 21px;

          &:hover {
            background-color: $mastheadListLinkHoverBackgroundColor;
            text-decoration: none;

            .badge {
              color: $mastheadListLinkBadgeHoverTextColor;
              background-color: $mastheadListLinkBadgeHoverBackgroundColor;
            }
          }

          .text {
            display: none;
          }

          .user-image {
            border-radius: 4px;
          }

          .badge {
            color: $mastheadListLinkBadgeTextColor;
            background-color: $mastheadListLinkBadgeBackgroundColor;
            margin-left: 3px;
            padding: 1px 6px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
