.stats {
  .container {
    display: flex;
    justify-content: space-between;

    .stat-data {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;

      .imp-data {
        display: flex;
        justify-content: space-around;

        .imp-item {
          line-height: initial;
          text-align: center;

          &:not(:last-child) {
            margin-right: 2.5rem;
          }

          .btn {
            line-height: inherit;
            padding: 0;

            &:hover {
              color: $statLinkHoverTextColor;
            }
          }

          .cnt {
            font-size: 60pt;
            font-weight: bolder;

            &:last-child {
              display: inline-block;
            }
          }
        }
      }

      .sec-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .sec-item {
          display: flex;
          align-items: center;
          width: 25%;
          text-align: center;
          flex-direction: column;
          line-height: initial;

          h5 {
            padding: 0.25rem 0;
            width: 5rem;
            border: solid 2px $statSecDataTagBorderColor;
            border-radius: 10px 10px 0 0;
            font-weight: bold;
          }

          .btn {
            &:hover {
              color: $statLinkHoverTextColor;
            }

            .cnt {
              font-size: 30pt;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $largeDeviceMaxWidth) {
  .stats {
    .container {
      flex-direction: column;
      height: auto;
      min-height: 60vh;

      .stat-data {
        margin-bottom: 3rem;
        width: auto;

        .imp-data {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media (max-width: $smallDeviceMaxWidth) {
  .stats {
    .container {
      .stat-data {
        .imp-data {
          flex-direction: column;
          margin-bottom: 2rem;

          .imp-item {
            &:not(:last-child) {
              margin: 0 auto 2.5rem;
            }
          }
        }

        .sec-data {
          .sec-item {
            width: 33.33%;
          }
        }
      }
    }
  }
}

@media (max-width: $extraSmallDeviceMaxWidth) {
  .stats {
    .container {
      .stat-data {
        .sec-data {
          .sec-item {
            width: 50%;
          }
        }
      }
    }
  }
}
