.topics {
  .container {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding-left: 0;

      li {
        padding: 2%;
        width: 14.28%;

        a {
          color: $topicLinkTextColor;
          display: flex;
          flex-direction: column;
          text-align: center;

          &:hover {
            color: $topicLinkHoverTextColor;
            text-decoration: none;
            transform: scale(1.08);
            transition: 0.1s;
          }

          h5 {
            font-weight: bold;
            margin: auto;
            width: 6.5rem;
          }

          .img-circle {
            border-radius: 50%;
            margin: 1rem auto;
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-width: $extraLargeDeviceMaxWidth) {
  .topics {
    .container {
      ul {
        li {
          a {
            h5 {
              font-size: 1rem;
              width: 5rem;
            }

            .img-circle {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $mediumDeviceMaxWidth) {
  .topics {
    .container {
      ul {
        li {
          width: 20%;
        }
      }
    }
  }
}

@media (max-width: $smallDeviceMaxWidth) {
  .topics {
    .container {
      ul {
        li {
          width: 25%;
        }
      }
    }
  }
}

@media (max-width: $extraSmallDeviceMaxWidth) {
  .topics {
    .container {
      ul {
        li {
          padding: 5%;
          width: 50%;
        }
      }
    }
  }
}
