{% extends "page.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Privacy Policy'), named_route='legal.privacy' %}</li>
  <li class="active">{% link_for _('Archive'), named_route='legal.privacy_archive' %}</li>
{% endblock %}

{% block primary %}
  {% set versions = h.get_legal_versions('privacy') %}
  <article class="module" role="main">
    <div class="module-content">
      <h1 class="page-heading">{{ title }}</h1>
      <ul>
        {% for version in versions %}
          <li>{% link_for version | localized_date, named_route='legal.privacy', version=version %}</li>
        {% endfor %}
      </ul>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
