{% extends "page.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  {% if version != h.get_latest_legal_version('tou') %}
    <li>{% link_for title, named_route='legal.tou' %}</li>
    <li>{% link_for _('Archive'), named_route='legal.tou_archive' %}</li>
    <li class="active">{% link_for version, named_route='legal.tou', version=version %}</li>
  {% else %}
    <li class="active">{% link_for title, named_route='legal.tou' %}</li>
  {% endif %}
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      <h1 class="page-heading">{{ title }}</h1>
      <p>{{ _('Effective ') }}{{ version | localized_date }} | {% link_for _('Archive'), named_route='legal.tou_archive' %}</p>
      <br>
      {{ text }}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
