{% extends "page.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Terms of Use'), named_route='legal.tou' %}</li>
  <li class="active">{% link_for _('Archive'), named_route='legal.tou_archive' %}</li>
{% endblock %}

{% block primary %}
  {% set versions = h.get_legal_versions('tou') %}
  <h1 class="page-heading">{{ title }}</h1>
  <ul>
    {% for version in versions %}
      <li>{% link_for version | localized_date, named_route='legal.tou', version=version %}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block secondary %}{% endblock %}
